<div class="container-fluid">
  <p class="h3 p-3">{{ estrellaMichelinDetail.fechaEntrega }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <!-- Imagen de la estrella -->
        <dt>Fecha Entregada</dt>
        <dd>{{ estrellaMichelinDetail.fechaEntrega }}</dd>
        <hr />
        <dt>Descripcion</dt>
        <dd>{{ estrellaMichelinDetail.descripcion }}</dd>
        <hr />
        <dt>Tipo de estrella</dt>
        <dd>{{ estrellaMichelinDetail.tipoEstrella }}</dd>
        <hr />
      </dl>
    </div>
  </div>
</div>
